services:
  postgres:
    
    image: postgres:alpine
    environment:
      POSTGRES_PASSWORD: password 
    volumes:
      - postgres:/var/lib/postgresql/data
  build:
      network_mode: "host"

volumes:
  postgres:
